* {
    margin: 0;
    padding: 0;
}
#Container{
    width: 1000px;
    height: 1200px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(228,160,76,1) 35%, rgba(0,212,255,1) 100%);
    margin-left: auto;
    margin-right: auto;
}

#header{
    width: 1000px;
    height: 200px;
    background: rgb(4,2,38);
background: linear-gradient(90deg, rgba(4,2,38,1) 0%, rgba(233,84,35,1) 35%, rgba(85,50,17,1) 100%);
}
#nav{
    width: 1000px;
    height: 50px;
    background: rgb(7,4,62);
    background: linear-gradient(90deg, rgba(7,4,62,1) 0%, rgba(19,147,18,1) 35%, rgba(2,11,55,1) 100%);
}
#Cue{
    width: 1000px;
    height: 865px;
    background: rgb(60,56,53);
background: linear-gradient(90deg, rgba(60,56,53,1) 0%, rgba(213,115,9,1) 35%, rgba(124,85,6,1) 100%);
}
#pie{
    width: 1000px;
    height: 85px;
    background: rgb(53,60,60);
    background: linear-gradient(90deg, rgba(53,60,60,1) 0%, rgba(12,124,119,1) 35%, rgba(124,85,6,1) 100%);
}
#Enc{
    position: relative;
    left: 360px;
    top: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: aliceblue;
}
#Men{
    position: relative;
    left: 350px;
    top: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: aliceblue;
}
#Cuerpo{
    position: relative;
    left: 450px;
    top: 412px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: aliceblue;
}
#Pie{
    position: relative;
    left: 100px;
    top: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: aliceblue;
}
blockquote{
    color:#E88D0C;
    font-size: 40px;
}

#tit1{
    color: #86FF00;
    font-size: 30px;
}
#tit2{
    color: #0CCFE8;
    font-size: 25px;
}
#tit3{
    color: #9300FF;
    font-size: 20px;
}