#contenedor{
   background-color: #284259;
}
h1,h2{
    color:#c8c8c8 ;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color:#80A2BF ;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#lik{
    color: #826026;
    font-size: 20;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}