#contenedor{
    font-family: 'Courier New', Courier, monospace;
    background-color: #591C21;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color:#F2F2F2;
    font-size: 40px;
}


pre{
    color: #D92525;
    font-size: 20px;
}