#contenedor {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1D594E;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #F23030;
    font-size: 40px;
}

strong {
    color: #F2CB05;
    font-size: 20px;
}

#tit1 {
    color: #F2CB05;
    font-size: 20px;
}

#tit2 {
    color: #F2CB05;
    font-size: 20px;
}

li {
    color: #ffffff;
    font-size: 15px;
}

#n1 {
    color: #ffffff;
    font-size: 25px;
}

#n3 {
    color: #ffffff;
    font-size: 15px;
}

#n4 {
    color: #ffffff;
    font-size: 15px;
}