#contenedor {
    font-family: 'Courier New', Courier, monospace;
    background-color: #404040;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #D9D8D7;
    font-size: 20;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#n1 {
    color: #1640be;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#n2 {
    color: #BDE038;
}