#contenedor {
    font-family: 'Courier New', Courier, monospace;
    background-color: #747F7F;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #72F2EB;
    font-size: 40px;
}

#tit1 {
    color: #FF4858;
    font-size: 30px;
}

#tit2 {
    color: #09ff22;
    font-size: 25px;
}

#tit3 {
    color: #ff0000c6;
    font-size: 20px;
}

#tit4 {
    color: #f801df;
    font-size: 40px;
}

strong {
    color: #fdfdfd;
    font-size: 40px;
}

ul {
    color:
        #1B7F79;
    font-size: 40px;
}