#contenedor {
    font-family: 'Courier New', Courier, monospace;
    background-color: #873671ba;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    color: #E88D0C;
    font-size: 40px;
}

#tit1 {
    color: #86FF00;
    font-size: 30px;
}

#tit2 {
    color: #0CCFE8;
    font-size: 25px;
}

#tit3 {
    color: #9300FF;
    font-size: 20px;
}